<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>广告轮播CollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81B3341B1C2E17210071A23E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81B334341C2E17210071A23E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81B3343F1C2E17210071A23E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
